body {
    background-color: lavender;
    font-size: 30px;
    
}

h1 {text-align: center;}
h2 {text-align: center;}

.IMG1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {font-weight: bold}

figure:hover{
    color: red;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



